body{
    height: 100%;
    min-height: 100%;
    background: #f4f4f4;
}
.container{
    background: #f4f4f4;
    width: 100%;
    height: auto;
    min-height: 100%;
    overflow: hidden;
}
.service-policy{
    width: 375px;
    height: 36px;
    background: #f4f4f4;
    padding: 0 16px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.service-policy .item{
    background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/servicePolicyRed-518d32d74b.png) 0 center no-repeat;
    background-size: 5px;
    padding-left: 7px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #666;
}

.no-cart{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.no-cart .c{
    width: 100%;
    height: auto;
    margin-top: 50%;
}

.no-cart .c img{
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 129px;
    height: 129px;
}

.no-cart .c span{
    margin: 0 auto;
    display: block;
    width: 129px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    font-size: 14px;
    color: #999;
}


.cart-view{
    width: 102%;
    height: auto;
    overflow: hidden;
    margin-top:10%;
}

.cart-view .list{
    height: auto;
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
}

.cart-view .group-item{
    height: auto;
    width: 100%;
    background: #fff;
    margin-bottom: 9px;
}

.cart-view .item{
    height: 90px;
    width: 120%;
    overflow: hidden;
}
.cart-view .item .checkbox{
    float: left;
    height: 17px;
    width: 17px;
    margin: 32px 9px 32px 18px;
    background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/checkbox-0e09baa37e.png) no-repeat;
    background-size: 17px;
}

.cart-view .item .checkbox.checked{
    background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/checkbox-checked-822e54472a.png) no-repeat;
    background-size: 17px;
}

.cart-view .item .cart-goods{
    float: left;
    height: 82px;
    width: 84%;
    margin-top: 6px;
    /*border-bottom: 1px solid #f4f4f4;*/
}

.cart-view .item .img{
    float: left;
    height:62px;
    width: 62px;
    background: #f4f4f4;
    margin: 9px 9px 10px 0;
}

.cart-view .item .info{
    float: left;
    height:62px;
    width: 58%;
    /*margin: 9px 13px 10px 0;*/
}

.cart-view .item .t{
    margin: 4px 0;
    height: 14px;
    font-size: 12px;
    color: #333;
    overflow: hidden;
}


.cart-view .item .name{
    height: 14px;
    max-width: 155px;
    line-height: 14px;
    font-size: 12px;
    color: #333;
    overflow: hidden;
}

.cart-view .item .num{
    height: 14px;
    line-height:14px;
    float: right;
}

.cart-view .item .attr{
    margin-bottom: 8px;
    height: 12px;
    line-height: 12px;
    font-size: 11px;
    color: #666;
    overflow: hidden;
}

.cart-view .item .b{
    height: 14px;
    line-height: 14px;
    font-size: 12px;
    color: #333;
    overflow: hidden;
}

.cart-view .item .price{
    float: left;
}

.cart-view .item .open{
    height: 14px;
    width: 75px;
    display: block;
    float: right;
    background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/arrowDown-d48093db25.png) right center no-repeat;
    background-size: 12px;
    font-size: 12px;
    color: #333;
}

.cart-view .item.edit .t{

}

.cart-view .item.edit .attr{
    text-align: left;

    padding-right: 12px;
    background-size: 6px 10px;
    margin-bottom: 0px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #999;
    overflow: hidden;
}

.cart-view .item.edit .b{
    display: flex;
    height: 26px;
    overflow: hidden;
}

.cart-view .item.edit .price{
    line-height: 26px;
    height: 26px;
    flex: 1;
}

.cart-view .item .selnum{
    display: block;
}

.cart-view .item.edit .selnum{
    width: 45%;
    height: 24px;
    border: 1px solid #ccc;
    display: flex;
}

.selnum .cut{
    width: 30px;
    height: 100%;
    text-align: center;
    line-height: 25px;
}
.modal-close{
    margin-left:31%;
    position:absolute;
    margin-top:-33px;


}
.selnum .number{
    flex: 1;
    height: 26px;
    text-align: center;
    line-height: 26px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    float: left;
    width: 40px;
}

.selnum .add{
    width: 30px;
    height: 100%;
    text-align: center;
    line-height: 25px;
}


.cart-view .group-item .header{
    width: 100%;
    height: 46px;
    line-height: 46px;
    padding: 0 13px;
    border-bottom: 1px solid #f4f4f4;
}

.cart-view .promotion .icon{
    display: inline-block;
    height: 12px;
    width: 7px;
}

.cart-view .promotion{
    margin-top: 12px;
    float: left;
    height: 21px;
    width: 240px;
    line-height: 21px;
    font-size: 0;
}

.cart-view .promotion .tag{
    border: 1px solid #f48f18;
    height: 17px;
    line-height: 15px;
    padding: 0 5px;
    margin-right: 5px;
    color: #f48f18;
    font-size: 12px;
}

.cart-view .promotion .txt{
    height: 21px;
    line-height: 21px;
    padding-right: 5px;
    color: #333;
    font-size: 15px;
    overflow: hidden;
}

.cart-view .get{
    margin-top: 9px;
    float: right;
    height: 28px;
    padding-left: 7px;
    border-left: 1px solid #d9d9d9;
    line-height: 28px;
    font-size: 15px;
    color: #333;
}

.cart-bottom{
    position: fixed;
    bottom:0;
    left:0;
    height: 50px;
    width: 100%;
    background: #fff;
    display: flex;
}

.cart-bottom .checkbox{
    height: 17px;

    padding-left: 30px;
    line-height: 17px;
    margin: 16px 9px 16px 13px;
    background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/checkbox-0e09baa37e.png) no-repeat;
    background-size: 17px;
    font-size: 15px;
}

.cart-bottom .checkbox.checked{
    background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/checkbox-checked-822e54472a.png) no-repeat;
    background-size: 17px;
}

.cart-bottom .total{
    height: 17px;
    flex: 1;
    margin: 16px 5px;
    font-size: 15px;
}


.cart-bottom .delete{
    height: 17px;
    width: auto;
    margin: 16px 9px;
    font-size: 15px;
}

.cart-bottom .checkout{
    height: 50px;
    width: 105px;
    text-align: center;
    line-height: 50px;
    font-size: 15px;
    background: #b4282d;
    color: #fff;
}

.sort {
    position: fixed;
    top: 45px;
    width: 100%;
    height: 39px;
}

.sort-box {
    width: 100%;
    height: 40px;
    overflow: hidden;
    margin-top: -11%;
    display: flex;
    /*border-bottom: 1px solid #d9d9d9;*/
}

.sort-box .item {
    height: 39px;
    line-height: 39px;
    text-align: center;
    color: #333;
    font-size: 10px;
}

.sort-box .item .txt {
    display: block;
    width: 100%;
    height: 100%;
    color: #333;
}

.sort-box .item.active .txt {
    color: #b4282d;
}

.sort-box .item.by-price {
    background: url(//yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/no-3127092a69.png) 76px center no-repeat;
    background-size: 7px 10px;
}

.sort-box .item.by-price.active.asc {
    background: url(http://yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/up-636b92c0a5.png) 76px center no-repeat;
    background-size: 7px 10px;
}

.sort-box .item.by-price.active.desc {
    background: url(http://yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/down-95e035f3e5.png) 76px center no-repeat;
    background-size: 7px 10px;
}
