/* 头部导航样式 */
.header {
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 999;
    background-color: #3993cf;
}

.header .left {
    position: absolute;
    left: 0;
    height: 50px;
}

.header .left .logoleft {
    height: 20px;
    vertical-align: top;
    margin-top: 15px;
    margin-left: 15px;
}

.header .t .title {
    font-size: 16px;
    color: #ffffff;
    padding-right: 10px;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.header .t {
    margin: 0 auto;
    text-align: center;
}
